@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    font-family:arial;
    background-color:#ffffff;
    margin: 0;
}

.flexify-row{
    display: flex;
    flex-direction: row;
}

.flexify-column{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 100vw;
    height: 100vh;

}

/*Options container styles*/
.logo-container{
    width:8%;
}
.logo{
    height: 3rem;
    width: 3rem;
    padding: .3em 0 0 .3em;
}

.logo-container p{
    margin: 0;
}

/*Main container styles*/
.main-container{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 60%;
    max-width: 600px; 
    min-height: 210px;
    height: 100%;
    align-items: center;
}

.vertical-line{
    border-left: 3px solid #000;
    height: 100vh;
    width: 3px;
    position: fixed;
    top: 0;
    justify-self: left;
}

.search-container{
    margin: 1em 0 0 0;
    width: fit-content;
    min-width: 10rem;
    max-height: 2.5rem;
}

.search-container input{
    font-size: 1.5rem;
    border: .1em solid;
    border-radius: 10px;  
    width: 85%;
}

.search-container img{
    width: 15%;
}
.weather-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30%;
    width: 100%;
    min-height: fit-content;
    margin: 2rem 0 0 0;
    background-color: rgb(93, 176, 253);
    border: .2em solid;
}

.weather-container{
    height: 100%;
    width: 50%;
}

.location-div{
    display: flex;
    align-items: center;
}

.flag{
    height: 2rem;
}

.location-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.location-container p{
    margin: 0;
    text-align: center;
}
.location-container img{
    justify-self: center;
    align-self: center;
    height: 10rem;
    width: 10rem;
}

.weather-container button span{
    padding: 0 1rem 0 1rem;
}

.temperature{
    margin: 0;
    font-size:5rem;
    justify-self: center;
}

.temperature-container{
    max-height: fit-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.data-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    max-height: 70%;
    width: 100%;
    margin: 2rem 0 0 0;
}

.data-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(93, 176, 253);
    border-style: solid;
    border-width: 4px;
    height: 100%;
}

.data-div:hover, .weather-div:hover{
    background-color: rgba(93, 176, 253, 0.63);;
}

.data-div p{
    text-align: center;
}

.data-div img{
    max-height: 2rem;
    max-width: 2rem;
    margin: .1em 0;
}

.temperature-container div{
    font-size: 1.5rem;
}

.temperature-container div p{
    margin: 5px 0 0 0;
}

/*Forecast container styles*/
.forecast-container{
    display: grid;
    grid-template-rows: auto auto;
    overflow-y: auto;
    width: 28%;
   
}

.timeframe-container{
    justify-self: center;
    width: 13rem;
}

.timeframe-container p{
    width: 5rem;
    font-size: 2rem;
    margin: 0 .5rem 0 0 ;
}

.timeframe-container img{
    max-height: 3rem;
    max-width: 3rem;
    text-align: center;
}

.forecasts{
    width: 100%;
}

.day{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    min-height: 5rem;
    width: 100%;
    padding: 0 0 .5em 0;
    border-bottom: 2px solid #000;
}

.day:hover{
    background-color:rgba(221, 221, 221, 0.753);
}

.day p{
    padding-left: 20px;
}

.day img{
    max-width: 6rem
}

@media (max-width: 767px){
    .forecast-container{
        display: none;
    }

    .container{
        justify-content:center;
    }

    .main-container{
        width: 90vw;
    }
    
    .search-container{
        width: 15rem;
    }

    .weather-div{
        flex-direction: column;
        align-items: center;
        height: 40%;
    }
    .logo-container{
        position: absolute;
        left: 0;
        height: fit-content;
        width: fit-content;
    }

    .weather-container{
        height: fit-content;
        width: fit-content;
    }

    .location-div{
        align-items: center;
        justify-content: center;
    }

    .location-div{
        
    }
    .location-div img{
        height: 2rem;
    }

    .location-container{
        height: 80px;

    }

    .location-container img{
       display: none;
    }

    button{
        margin: 2rem 0 0 0;
        align-self: center;
    }
}
/*General styles*/
.weather-div, .data-div{
    border-radius: 20px;
}

button{
    font-size: 1.5rem;
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 15px;
    border-style: solid;
    border-color: #000;
    background-color: #fff;
}

h1{
    text-align: center;
    font-size: 1.5rem;
}
span:hover{
    text-decoration: underline;
}
