@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    font-family:arial;
    background-color: #19386d;
    margin: 0;
}

.flexify-row{
    display: flex;
    flex-direction: row;
}

.flexify-column{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 100vw;
    height: 100vh;
    color: #fff;
}

/*Options container styles*/
.logo-container{
    width:8%;
}
.logo{
    height: 3rem;
    width: 3rem;
    padding: .3em 0 0 .3em;
}

.logo-container p{
    margin: 0;
}

/*Main container styles*/
.main-container{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 70%;
    max-width: 700px; 
    min-height: 210px;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.vertical-line{
    border-left: 3px solid #000;
    height: 100vh;
    width: 3px;
    position: fixed;
    top: 0;
    justify-self: left;
}

.search-container{
    margin: 1em 0 0 0;
    width: fit-content;
    min-width: 10rem;
    max-height: 2.5rem;
}

.search-container input{
    font-size: 1.5rem;
    border: .1em none #000;
    border-radius: 5px;  
    width: 85%;
}

.search-container img{
    width: 12.5%;
}
.weather-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30%;
    width: 100%;
    min-height: fit-content;
    margin: 2rem 0 0 0;
    background-color: #546bab;
    border-style: none;
}

.weather-container{
    height: 100%;
    width: 50%;
}

.location-div{
    display: flex;
    align-items: center;
}

.flag{
    height: 2rem;
    margin: 0 0 0 .5em;
}

.location-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.location-container p{
    margin: 0;
    text-align: center;
}
.location-container img{
    justify-self: center;
    align-self: center;
    height: 10rem;
    width: 10rem;
}

.weather-container button span{
    padding: 0 1rem 0 1rem;
}

.temperature{
    margin: 0;
    font-size:5rem;
    justify-self: center;
}

.temperature-container{
    max-height: fit-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.data-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    height: 40%;
    width: 100%;
    margin: 2rem 0 0 0;
}

.data-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #546bab;
    border-style: none;
    height: 100%;
}

.data-div:hover, .weather-div:hover{
    background-color: #546babaf;
}

.data-div div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
.data-div p{
    text-align: center;
    align-self: center;
}

.data-div img{
    max-height: 2rem;
    max-width: 2rem;
    margin: .2em .2em 0 .2em;
}


.temperature-container div{
    font-size: 1.5rem;
}

.temperature-container div p{
    margin: 5px 0 0 0;
}

/*Forecast container styles*/
.forecast-container{
    display: grid;
    grid-template-rows: auto auto;
    max-width: 290px;
    width: 28%;
    height: 95%;
    background-color: #546bab;
    border-style: none;
    border-color: #000;
    border-radius: 10px;
    margin: .5em .5em 0 0;
}

.timeframe-container{
    justify-self: center;
    width: 13rem;
}

.timeframe-container p{
    text-align: center;
    width: 6rem;
    font-size: 2rem;
    height: fit-content;
    padding: 0 0 .5em 0;
    margin: 0;
}

.timeframe-container img{
    max-height: 3rem;
    max-width: 3rem;
    text-align: center;
}

.forecasts{
    width: 100%;
    overflow-y: auto;
}

.day{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    width: 100%;
    padding: 0 0 .5em 0;
    border-bottom: 2px solid #fff;
}

.day:hover{
    background-color:rgba(221, 221, 221, 0.753);
}

.day p{
    padding-left: 20px;
}

.day img{
    max-width: 6rem
}

.weather-div, .data-div{
    border-radius: 20px;
}

button{
    font-size: 1.5rem;
    width: fit-content;
    height: 2.5rem;
    margin-bottom: 30px;
    border-radius: 15px;
    border-style: none;
    background-color: #fff;
    color: #000;
    align-self: center;
}

h1{
    font-size: 1.5rem;
}

span:hover{
    text-decoration: underline;
}

@media (max-width: 767px){

    .container{
        flex-direction: column;
        align-items: center;
    }

    .forecast-container{
        width: 90vw;
        max-width: 90vw;
        height: 15%;
        margin: 0 0 2.5rem 0;
    }

    .timeframe-container{
        position: absolute;
        height: 10%;
        width: fit-content;
        margin-top: .5rem;
    }

    .timeframe-container img{
        height: 2rem;
        width: 2rem;
    }

    .forecasts{
        flex-direction: row;
        height: fit-content;
        margin-top: 2em;
        width: 100%;
    }

    .vertical-line{
        display: none;
    }

    .main-container{
        width: 100vw;
        height: 80%;
        padding: 0;
    }

    .data-container{
        width: 90%;
        height: fit-content;
        margin-top: .5em;
    }

    .data-div{
        padding: .2em;
        height: 130px;
    }

    .data-div p{
        margin: 0 0 1.5em 0;
    }

    h1{
        font-size: 1.2rem
    }

    .day{
        border-bottom: none;
    }

    .day img{
        width: 3rem;
    }
    
    .search-container{
        width: 15rem;
        margin-left: 2.5rem;
    }

    .weather-div{
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 40%;
    }
    .logo-container{
        position: absolute;
        left: 0;
        height: fit-content;
        width: fit-content;
    }

    .weather-container{
        height: 14rem;
        width: fit-content;
        justify-content: space-between;
    }

    .location-div{
        align-items: center;
        justify-content: center;
    }

    .location-div img{
        height: 2rem;
    }

    .location-container{
        height: 80px;

    }

    .location-container img{
       display: none;
    }

    button{
        margin-bottom: 0;
        align-self: center;
        width: fit-content;
        color: #000;
    }

    @media (max-height: 841px){

        .main-container{
            height: 85%;
        }

        .timeframe-container{
            justify-self: center;
            height: fit-content;
        }

        .forecast-container{
            height: 15%;
            margin-bottom: .5em;
        }

        .forecasts{
            height: 100;
            margin-top: 1.3em;
        }

        .data-container{
            margin-top: .8em;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: none;
            width: 90vw;
            overflow-y: auto;
        }

        .weather-div{
            height: fit-content;
        }

        .data-div{
            height: 110px;
            width: 135px;
        }

        button{
            width: fit-content;
            color: #000;
        }
    }
}
/*General styles*/

